.MuiTableCell-head{
    z-index: 98!important;
}
.stylesZone{    
    width: 600px !important;
    padding: 17px !important; 
    top: 60% !important;
}
.boton{
    left: 85% !important; 
}
.botones{
    left: 58% !important; 
}
.botonDisZon{
    float:right;
    margin-left: 20px;
}
.botonDisZon1 {
    padding-right : 20px;
    float:right;
}


.mui-tableRes{
    margin-top: 76px;
}
