.MuiTableCell-head{
    z-index: 98!important;
}
.sweet-alert{    
    width: 480pz !important;
    padding: 17px !important;
    /* left: 40% !important; */
    
}
.boton{
    left: 85% !important; 
    margin: 10px !important;
}