.MuiTableCell-head{
    z-index: 98!important;
}
.botonCampaña {
    padding-right : 20px;
    float:right;
}
.mui-tableRes{
    margin-top: 76px;
}
.generalMarginInputs{
    margin-right: 2.3em;
}
.urlPortalAlert{
    width: 600px !important;
    left: 49% !important;
}
.filterCustomAlert{
    width: 600px !important;
    
}
/* formulario*/

