.paddingInfo{
    background: #404e77!important;
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-bottom: 70px !important;
    border-radius: 12px;
    font-size: 14px !important;
}

.styleCard1{
    margin-top: 19px;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    margin-right: 1px;
}
.fontSize{
    font-size: 19px!important;
}
.alignCenterData{
    padding-left: 93px !important;
}
.marginAvatar{
    margin-top: 7px;
}
.paddingDetail{
    background: #404e77!important;
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    border-radius: 12px;
    font-size: 14px !important;
    padding-bottom: 53px!important;
}
.ql-picker-options{
    background-color: #3d4e66!important;
}
.ql-picker-label{
    background-color: #3d4e66!important;
}
.ql-formats{
    background-color: #3d4e66!important;
}
.ql-snow{
    background-color: #3d4e66!important;
}
.ql-stroke {
    stroke: #fff!important;
}
.ql-snow.ql-toolbar button svg:hover{
    background-color: #465e7e;
}
.ql-editor{
    border-top: 1px solid white;
}
.ql-blank{
    border-top: 1px solid white;
}
.ql-container {
    height: 286px !important;
}
.termsCon{
    text-align: center;
    margin-bottom: 13px;
    border: 1px solid;
    padding: 10px;
}
.termsCon:hover{
    background-color: #3a77ab;
    cursor: pointer;
}
.inputColor{
    width: 100%;
}
.dropzone{
    background-color: #2c3644;
    border-radius: 2%;
}
.filesStyle{
    margin-top: 20px;
}
.MuiTabs-indicator{
    background-color: #e4e4e4!important;
}
.transaction-box{
    padding:0;
}
.Tab-wrap header button span{
    color: white!important;
}
.dark-mode .MuiInputBase-input  {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.dark-mode .MuiTab-textColorPrimary.Mui-selected{
    background: #343e63!important
}

.customTitles{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 5px;
}
.customMarginInputs{
    margin-bottom: 25px!important;
}
.customMarginTextArea{
    margin-top:20px!important; 
}
#zona_ap{
    padding-bottom: 11px;
    padding-right: 71px!important;
}
.textAreaResize{
    resize: none;
    padding-bottom: 13px;
}
.buttonForm1{
    background-color: rgba(1, 82, 84, 0.53);
    border: 1px solid white;
    color: white;
}
.buttonForm2{
    background: -webkit-gradient(linear, left top, right bottom, from(rgb(255, 255, 255)), to(rgb(52, 78, 151)));
    border: 1px solid white;
    color: white;
}
.buttonForm3{
    background-color: rgba(68, 196, 231, 0.54);
    border: 1px solid white;
    color: white;
}
.btn-info{
    background: #209a8f linear-gradient(180deg, #1cb5a7, #23b7a9) repeat-x !important;
}
