.paddingInfo{
    background: #313d4e;
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-bottom: 70px !important;
    border-radius: 12px;
    font-size: 14px !important;
}

.styleCard1{
    margin-top: 19px;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    margin-right: 1px;
}
.fontSize{
    font-size: 25px!important;
}
.alignCenterData{
    padding-left: 93px !important;
}
.marginAvatar{
    margin-top: 7px;
}
.paddingDetail{
    background: #313d4e;
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    border-radius: 12px;
    font-size: 14px !important;
    padding-bottom: 82px!important;
}
.ql-picker-options{
    background-color: #3d4e66!important;
}
.ql-picker-label{
    background-color: #3d4e66!important;
}
.ql-formats{
    background-color: #3d4e66!important;
}
.ql-snow{
    background-color: #3d4e66!important;
}
.ql-stroke {
    stroke: #fff!important;
}
.ql-snow.ql-toolbar button svg:hover{
    background-color: #465e7e;
}
.ql-editor{
    border-top: 1px solid white;
}
.ql-blank{
    border-top: 1px solid white;
}
.termsCon{
    text-align: center;
    margin-bottom: 13px;
    border: 1px solid;
    padding: 10px;
}
.inputColor{
    width: 100%;
}
.dropzone{
    background-color: #2c3644;
    border-radius: 2%;
}
.filesStyle{
    margin-top: 20px;
}
.MuiTabs-indicator{
    background-color: #e4e4e4!important;
}
.transaction-box{
    padding:0;
}