/* .MuiTableCell-head{
    z-index: 98!important;
}


.botonDisZon{
    float:right;
    margin-left: 20px;
}
.botonDisZon1 {
    padding-right : 20px;
    float:right;
} */

/* .botonLocacion {
    right : 23px;
    position: absolute;
} */
.MuiStepper-root{
    background: #2c3644!important;
    padding: 24px 24px 40px 10px!important;
}
.MuiCollapse-wrapperInner {
    width: 90%!important;
}
.MuiCollapse-wrapperInner > div{
    margin-left: 77px;
}
.MuiCollapse-wrapperInner > div > button:first-child {
    padding: 6px 27px;
}
.selectDiv > div{
    margin-left: -10px;
}
.imgSpinner {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    max-width: 60px;
    filter: invert(1);
    -webkit-animation: rotation 1s infinite linear;
}
.customZ_index{
    z-index: 6000;
    position: fixed;
}
.MuiTableCell-head{
    z-index: 98!important;
}
.sweetAlertLocations{    
    width: 700px !important;
    left: 45% !important;
    top: 40% !important ;
}

.sweetAlertLocationsEdit{
    width: 700px !important;
    left: 43% !important;
    top: 50% !important ;
}
@media (min-width: 724px) and (max-width: 892px){
    .sweetAlertLocations{    
        /* width: 478px !important; */
        padding: 0px !important;
        left: 40% !important;
        top: 30% !important;
    }
}

@media (min-width: 0px) and (max-width: 803px){
    .sweetAlertLocations{    
        width: 478px !important;
        padding: 0px !important;
        left: 48% !important;
        top: 30% !important ;
    }
}

@media (min-width: 804px) and (max-width: 892px){
    .sweetAlertLocations{    
        /* width: 478px !important; */
        padding: 0px !important;
        left: 39% !important;
        top: 30% !important;
    }
}


/* .MuiCircularProgress-colorPrimary {
    color: #122e3c;
} */

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}