.MuiTableCell-head{
    z-index: 98!important;
}
.has-input{

left: 10%!important;} 
.input-lg{
    left: 10%!important;
}

.mui-tableRes{
    margin-top: 76px;
}

.botonVoucher {
    padding-right : 20px;
    float:right;
}

.MuiTableRow-head{
    z-index: 98!important;
}

