.paddingInfo{
    background: #313d4e;
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-bottom: 70px !important;
    border-radius: 12px;
    font-size: 14px !important;
}
.styleCard1{
    margin-top: 17px;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    margin-right: 12px;
}
.fontSize{
    font-size: 19px!important;;
}
.alignCenterData{
    padding-left: 93px !important;
}
.marginAvatar{
    margin-top: 7px;
}
.paddingDetail{
    background: #313d4e;
    padding-top: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    border-radius: 12px;
    font-size: 14px !important;
    padding-bottom: 82px!important;
}
