.MuiTableCell-head{
    z-index: 98!important;
}
.stylesDevice{    
    width: 600px !important;
    padding: 17px !important; 
    top: 56% !important;
    left: 48% !important;
}

.botonDisp {
    padding-right : 20px;
    float:right;
}

.mui-tableRes{
    margin-top: 76px;
}

